body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #ffffff;
}

nav {
    background-color: #1d1d1d;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1em;
}

.section {
    padding: 100px 1em 3em 1em;
    text-align: center;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.section h2 span {
    color: #ffffff;
}

.section p span {
    color: #ff8c00;
}

#home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home .image {
    margin-bottom: 1em;
}

#home h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

#home h2 {
    font-size: 2em;
    margin: 0.5em 0;
}

#home .buttons {
    margin-top: 1em;
}

button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 20px;
    cursor: pointer;
}

#works .works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-item {
    background-color: #333;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.work-item img {
    width: 100%;
    border-radius: 10px;
}

#about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about .image {
    margin-bottom: 1em;
}

#about a {
    color: #ff8c00;
    text-decoration: none;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

#contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact a {
    color: #ff8c00;
    text-decoration: none;
}

#social {
    background-color: #2E2E2C;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#social h2 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 25px;
    font-family: 'Arial', sans-serif;
}

.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.social-list li {
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-list li:hover {
    transform: scale(1.1);
}

.social-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.social-list a:hover {
    color: #ff8c00;
}

.social-list i {
    margin-right: 8px;
}
